<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kcbs.webforum.model.dao.PostImagesMapper">
  <resultMap id="BaseResultMap" type="com.kcbs.webforum.model.pojo.PostImages">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="post_id" jdbcType="BIGINT" property="postId" />
    <result column="post_image" jdbcType="VARCHAR" property="postImage" />
  </resultMap>
  <sql id="Base_Column_List">
    id, post_id, post_image
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from forum_post_images
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectPostImages" parameterType="java.lang.Long" resultType="java.lang.String">
    select post_image
    from forum_post_images
    where post_id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from forum_post_images
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.kcbs.webforum.model.pojo.PostImages">
    insert into forum_post_images (id, post_id, post_image
      )
    values (#{id,jdbcType=BIGINT}, #{postId,jdbcType=BIGINT}, #{postImage,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.kcbs.webforum.model.pojo.PostImages">
    insert into forum_post_images
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="postId != null">
        post_id,
      </if>
      <if test="postImage != null">
        post_image,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="postId != null">
        #{postId,jdbcType=BIGINT},
      </if>
      <if test="postImage != null">
        #{postImage,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.kcbs.webforum.model.pojo.PostImages">
    update forum_post_images
    <set>
      <if test="postId != null">
        post_id = #{postId,jdbcType=BIGINT},
      </if>
      <if test="postImage != null">
        post_image = #{postImage,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kcbs.webforum.model.pojo.PostImages">
    update forum_post_images
    set post_id = #{postId,jdbcType=BIGINT},
      post_image = #{postImage,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>