<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kcbs.webforum.model.dao.PostMapper">
  <resultMap id="BaseResultMap" type="com.kcbs.webforum.model.pojo.Post">
    <id column="post_id" jdbcType="BIGINT" property="postId" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="category_id" jdbcType="BIGINT" property="categoryId" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="visibility" jdbcType="INTEGER" property="visibility" />
    <result column="view_num" jdbcType="INTEGER" property="viewNum" />
    <result column="is_essences" jdbcType="INTEGER" property="isEssences" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <resultMap id="PostResultMap" type="com.kcbs.webforum.model.vo.PostVO">
    <id column="post_id" jdbcType="BIGINT" property="postId" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="category_id" jdbcType="BIGINT" property="categoryId" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="view_num" jdbcType="INTEGER" property="viewNum" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="username" jdbcType="VARCHAR" property="userName" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="category_name" jdbcType="VARCHAR" property="categoryName" />
    <result column="visibility" jdbcType="INTEGER" property="visibility" />
    <result column="is_essences" jdbcType="INTEGER" property="isEssences" />
    <result column="head_sculpture" jdbcType="VARCHAR" property="headSculpture" />
    <result column="personalized_signature" jdbcType="VARCHAR" property="personalizedSignature" />
  </resultMap>
  <sql id="Base_Column_List">
    post_id, title, content, category_id, user_id, visibility, create_time, update_time,is_essences,view_num
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from forum_post
    where post_id = #{postId,jdbcType=BIGINT} AND visibility=1;
  </select>

  <select id="selectAllByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from forum_post
    where post_id = #{postId,jdbcType=BIGINT};
  </select>
  <select id="selectListByPrimaryKey" parameterType="java.util.List" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from forum_post
    where post_id in
    <foreach collection="list" index="index" item="item"
             open="(" separator="," close=")">
      #{item}
    </foreach>
  </select>
  <select id="selectByTitle" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from forum_post
    where title = #{title,jdbcType=VARCHAR}
  </select>
  <select id="selectSubscribePostList"  resultMap="PostResultMap">
   select distinct p.post_id,p.title,p.content,p.category_id,p.user_id,p.update_time,u.username,p.create_time,c.category_name,p.visibility,u.head_sculpture,u.personalized_signature,p.is_essences,p.view_num
    from forum_category c JOIN forum_post p
    ON c.category_id = p.category_id JOIN forum_user u
    ON p.user_id = u.user_id JOIN forum_subscribe s
    ON u.user_id = s.be_subscribe
    WHERE s.update_time &lt; p.create_time AND s.subscribe = #{userId} AND p.visibility=1 AND s.is_del = 0;
  </select>
    <select id="selectByUserId" parameterType="java.lang.Long" resultMap="PostResultMap">
    select distinct p.post_id,p.title,p.content,p.category_id,p.user_id,p.update_time,u.username,p.create_time,p.visibility,u.head_sculpture,u.personalized_signature,p.is_essences,c.category_name,p.view_num
    from forum_category c JOIN forum_post p
    ON c.category_id = p.category_id JOIN forum_user u
    ON p.user_id = u.user_id
    WHERE p.visibility=1 AND u.user_id = #{id,jdbcType=BIGINT};
    </select>
  <select id="selectById"  resultMap="PostResultMap">
   select distinct p.post_id,p.title,p.content,p.category_id,p.user_id,p.update_time,u.username,p.create_time,c.category_name,p.visibility,u.head_sculpture,u.personalized_signature,p.is_essences,COUNT(com.comment_id) as comment_num,p.view_num
    from forum_category c JOIN forum_post p
    ON c.category_id = p.category_id JOIN forum_user u
    ON p.user_id = u.user_id left JOIN forum_comment com
	ON com.parent_id = p.post_id
    WHERE  p.post_id = #{postId} AND p.visibility=1;
  </select>
  <select id="selectLastId"  resultType="long">
    select distinct LAST_INSERT_ID()
    FROM forum_post
  </select>
  <select id="selectPostNumById" parameterType="java.lang.Long" resultType="integer">
    select COUNT(*)
    from forum_post
    where user_id = #{id,jdbcType=BIGINT} AND visibility = 1
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from forum_post
    where post_id = #{postId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.kcbs.webforum.model.pojo.Post">
    insert into forum_post (post_id, title, content, 
      category_id, user_id, visibility, 
      create_time, update_time)
    values (#{postId,jdbcType=BIGINT}, #{title,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR}, 
      #{categoryId,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT}, #{visibility,jdbcType=INTEGER},
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.kcbs.webforum.model.pojo.Post">
    insert into forum_post
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="postId != null">
        post_id,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="content != null">
        content,
      </if>
      <if test="categoryId != null">
        category_id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="visibility != null">
        visibility,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="isEssences != null">
        is_essences,
      </if>
      <if test="viewNum != null">
        view_num,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="postId != null">
        #{postId,jdbcType=BIGINT},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="categoryId != null">
        #{categoryId,jdbcType=BIGINT},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="visibility != null">
        #{visibility,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isEssences != null">
        #{isEssences,jdbcType=INTEGER}
      </if>
      <if test="viewNum != null">
        #{viewNum,jdbcType=INTEGER}
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.kcbs.webforum.model.pojo.Post">
    update forum_post
    <set>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="categoryId != null">
        category_id = #{categoryId,jdbcType=BIGINT},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="visibility != null">
        visibility = #{visibility,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isEssences != null">
        is_essences = #{isEssences,jdbcType=INTEGER},
      </if>
      <if test="viewNum != null">
        view_num = #{viewNum,jdbcType=INTEGER}
      </if>
    </set>
    where post_id = #{postId,jdbcType=BIGINT}
  </update>

  <update id="deleteByCategoryId" parameterType="java.lang.Long">
    update forum_post
    SET visibility = 2
    where category_id = #{categoryId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kcbs.webforum.model.pojo.Post">
    update forum_post
    set title = #{title,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR},
      category_id = #{categoryId,jdbcType=BIGINT},
      user_id = #{userId,jdbcType=BIGINT},
      visibility = #{visibility,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      is_essences = #{isEssences,jdbcType=INTEGER},
      view_num = #{viewNum,jdbcType=INTEGER}
    where post_id = #{postId,jdbcType=BIGINT}
  </update>
  <select id="getAllPostId" resultType="java.lang.Long">
    SELECT post_id
    FROM forum_post
    WHERE visibility = 1;
  </select>
</mapper>